<html>
	<body>
	
		{% if isLoggedIn %}
		<a href="{{ url_for('gdisconnect') }}">Log Out</a>
		{% else %}
		<a href="{{ url_for('showLogin') }}">Log In</a>
		{% endif %}
		
		<h1>Categories</h1>
		
		{% with messages = get_flashed_messages() %}
		{% if messages %}

		<ul>
			{% for message in messages %}
			<li><strong>{{message}}</strong></li>
			{% endfor %}
		</ul>
		{% endif %}
		{% endwith %}
		
		</br>
		{% for category in categories %}
			</br>
			<a href='{{ url_for('showItems', category_id=category.id) }}'>{{ category['name'] }}</a>
		{% endfor%}
	</body>
</html>